@font-face {
    font-family: Norse;
    src: url(images/Norse-Bold.otf);
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.fern{
    height: 100vh;
    width: 30vw;
    background-image: url('images/ferns.avif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}



.odin{
    height: 14vh;
}

.odin-banner{
    display: flex;
    font-family: Norse;
    color: white;
    font-size: 12vh;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, 0.5);
    height: 17vh;
    flex-shrink: 0;
}

.above-odin{
    height: 20vh;
}

.below-odin{
    height: 71vh;
}

.fern-credit{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
    font-size: max(1.5vh, 8px);

}

.my-form{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    width: 45vw;
    flex-shrink: 0;
}
.upper-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    width: 40vw;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.first-name, .last-name, .email, .phone, .pass-one, .pass-two{
    display: flex;
    flex-direction: column;
}
.name, .contact-info, .password{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.form-inputs{
    height: 30vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 75, 75);
    font-weight: bold;
    flex-wrap: wrap;
}

input{
    border-radius: 5px;
    border-color: rgb(174, 159, 159);
    border-width: 1px;
    border-style: solid;
}

input:focus{
    border-color: blue;
    border-width: 1px;
    box-shadow: 2px 2px 5px lightblue;
    border-style: solid;
    outline: none

}


.form-inputs label{
    font-size: .8rem;
}

.phone, .last-name, .pass-two {
    margin-left: 70px;
}

.first-name, .email, .pass-one {
    margin-left: 40px;
}
legend{
    margin-left: 40px;
}

.submit-button{
    background-color: rgb(80, 119, 80);
    border-radius: 5px;
    height: 40px;
    width: 170px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
}